# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Python tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Distribution
*.egg-info/
dist/
build/
